<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'> Proposed Forest Fire to Semantic Segmentation (F2S)</div>
        <div class='container'>
      <div class="row">
        <div class="col-md-12 ">
          <div class="discription-line">Proposed Forest Fire to Semantic Segmentation (F2S) Platform is a cloud artificial intelligence solution for high-volume satellite data in forest wildfire detection. F2S shall provide easy to use high resolution burnt area calculations and visualizations to professionals within forestry and insurance. The current F2S functional prototype is based on optical satellite data, but a model for radar-based satellite data is being developed.

Available technologies in forest wildfire detection include aircrafts, cameras, satellites and drones. Different platforms have different image formats based on the different wavelengths, which vice versa makes the universal cloud processing difficult, not to mention the multi-source fusion. F2S would provide a rapid response platform for uploading ROI image and then analyzing the input source to get final burnt area information.</div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <a href='/static/FSSO4G.png'>
          <img src="/static/FSSO4G.png" height="250" >
          </a>
        </div>
        <div class="col-3">
          <div class='no-display'>
            <input id='file-input'
                   class='no-display'
                   type='file'
                   name='file'
                   accept='image/*'
                   onchange='showPicked(this)'>
          </div>
          <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
          <div>
            <img id='image-picked' class='no-display' alt='Chosen Image' width='250'>
          </div>
          <div class='upload-label'>
            <label id='upload-label'>No file chosen</label>
          </div>

        </div>
        <div class="col-3">
          <div class='analyze'>
            <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
          </div>
          <div class='result-label'>
            <img id='image-generated' class='no-display' width='250'>
            <label id='result-label'></label>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
  
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
