body {
    background-color: #fff;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 25px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
}

.analyze {
    margin-top: 0em;
}

.upload-label {
    padding: 5px;
/*     text-align: left; */
    font-size: 12px;
}

.result-label {
    font-size: 13px;
}

button.choose-file-button {
    width: 100%;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
/*     text-align: left; */
    border: solid 1px #7052CB;
    font-size: 13px;
    color: #7052CB;
    margin-bottom: 2em;
}

button.analyze-button {
    width: 100%;
    height: 40px;
    border: solid 1px #7052CB;
    border-radius: 2px;
/*     text-align: right; */
    background-color: #7052CB;
    font-size: 13px;
    color: #ffffff;
    margin-bottom: 2em;
}

button:focus {
    outline: 0;
}


.discription-line{
    margin-top:5em;
    margin-bottom: 5em;
}

img{
    width:100%;
    height: auto;
}

